@page "/"

<h1>Willkommen bei Blazor WebAssembly!</h1>

<p>Dies ist die Hauptseite der Anwendung.</p>

<p>Um mehr über die Funktionen zu erfahren, besuchen Sie die folgenden Seiten:</p>

<ul>
    <li><NavLink href="counter">Zähler</NavLink></li>
    <li><NavLink href="fetchdata">Wetterdaten abrufen</NavLink></li>
</ul>